.carDetail {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  &__main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
  }
  &__filter-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
    background-color: #f7f7f7;
    align-items: center;
    justify-content: center;
    margin: 100px 0 0 0;
  }
  &__all-filter-wrapper {
    display: flex;
    flex-direction: column;
    height: 1250px;
    background-color: #f7f7f7;
  }
  &__type-filter-box {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 10%;
    justify-content: space-around;
  }
  &__type-filter-heading-box {
    display: flex;
    width: 20%;
    height: 30px;
  }
  &__type-filter-heading {
    color: black;
    font-size: 10px;
  }
  &__check1-box,
  &__check2-box,
  &__check3-box,
  &__check4-box,
  &__check5-box,
  &__check6-box {
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 25px;
    justify-content: space-between;
    align-items: center;
  }
  &__type-filter-check1,
  &__type-filter-check2,
  &__type-filter-check3,
  &__type-filter-check4,
  &__type-filter-check5,
  &__type-filter-check6 {
    display: flex;
  }
  &__type-filter1,
  &__type-filter2,
  &__type-filter3,
  &__type-filter4,
  &__type-filter5,
  &__type-filter6 {
    color: black;
    font-size: 12px;
    align-items: center;
    width: 40px;
  }
  // Car seats capacity filter checkbox styling. //
  &__seats-filter-box {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 10%;
    justify-content: space-around;
    margin: 20px 0 0 0;
  }
  &__seats-filter-heading-box {
    display: flex;
    width: 20%;
    height: 30px;
  }
  &__seats-filter-heading {
    color: black;
    font-size: 10px;
  }
  &__seats-check1-box,
  &__seats-check2-box,
  &__seats-check3-box,
  &__seats-check4-box,
  &__seats-check5-box,
  &__seats-check6-box {
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 25px;
    justify-content: space-between;
    align-items: center;
  }
  &__seats-filter-check1,
  &__seats-filter-check2,
  &__seats-filter-check3,
  &__seats-filter-check4,
  &__seats-filter-check5,
  &__seats-filter-check6 {
    display: flex;
  }
  &__seats-filter1,
  &__seats-filter2,
  &__seats-filter3,
  &__seats-filter4,
  &__seats-filter5,
  &__seats-filter6 {
    color: black;
    font-size: 12px;
    width: 40px;
    align-items: center;
  }
  &__price-slider-box {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
    height: 50px;
    justify-content: space-around;
  }
  &__price-slider-heading {
    color: black;
    font-size: 12px;
  }
  &__price-slider-input {
    display: flex;
  }
  &__car-description-wrapper {
    display: flex;
    flex-direction: column;
    position: inherit;
    height: 100%;
    width: 100%;
    background-color: #002244;
    align-items: center;
  }
  &__car-content-box {
    display: flex;
    flex-direction: row;
    height: 480px;
    width: 90%;
    margin: 60px 0 0 0;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
  }
  &__car-content-inner-box {
    height: 350px;
    width: 450px;
  }
  &__car-image-box {
    width: 440px;
    height: 250px;
    background-color: rgba(182, 178, 178, 0.2);
    border: solid;
    border-color: rgba(182, 178, 178, 0.2);
    border-radius: 5px;
    border-width: 1px;
    color: white;
    justify-content: space-around;
    padding: 1.5rem;
  }
  &__car-image-box-heading-1 {
    display: flex;
    height: 60px;
    width: 300px;
    font-size: 25px;
  }
  &__car-image-box-heading-2 {
    display: flex;
    height: 30px;
    width: 300px;
    font-size: 12px;
    margin: 10px 0 0 0;
  }
  &__image {
    width: 400px;
    height: 120px;
    object-fit: scale-down;
  }
  &__car-images-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0;
    height: 100px;
    width: 440px;
    justify-content: space-between;
  }
  &__car-image-1,
  &__car-image-2,
  &__car-image-3 {
    display: flex;
    height: 90px;
    width: 130px;
    background-color: rgba(182, 178, 178, 0.2);
    align-items: center;
    justify-content: center;
    border: solid;
    border-color: rgba(182, 178, 178, 0.2);
    border-radius: 5px;
    border-width: 1px;
    color: white;
  }
  &__car-description-box {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 440px;
    background-color: rgba(182, 178, 178, 0.2);
    border: solid;
    border-color: rgba(182, 178, 178, 0.2);
    border-radius: 5px;
    border-width: 1px;
    color: white;
    padding: 2rem;
    justify-content: space-between;
  }
  &__car-name-like-wrapper {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 35px;
    justify-content: space-between;
  }
  &__car-name-box {
    display: flex;
    height: 30px;
    width: 150px;
    align-items: center;
    font-size: 20px;
  }
  &__car-like-box {
    display: flex;
    height: 25px;
    width: 20px;
    align-items: center;
    font-size: 15px;
  }
  &__car-rating-reviewer-wrapper {
    display: flex;
    flex-direction: row;
    width: 180px;
    height: 30px;
    justify-content: space-between;
  }
  &__car-rating-box {
    display: flex;
    height: 25px;
    align-items: center;
  }
  &__car-detail-box-1 {
    display: flex;
    height: 100px;
    width: 350px;
    text-decoration: inline;
    font-size: 15px;
  }
  &__car-detail-box-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 350px;
  }
  &__car-Type-box {
    display: flex;
    width: 120px;
    height: 30px;
    justify-content: space-around;
  }
  &__car-Type-heading {
    font-size: 15px;
  }
  &__car-Type {
    font-size: 15px;
  }
  &__car-capacity-box {
    display: flex;
    width: 150px;
    height: 30px;
    justify-content: space-around;
  }
  &__car-capacity-heading {
    font-size: 15px;
  }
  &__car-capacity {
    font-size: 15px;
  }
  &__car-steering-box {
    display: flex;
    width: 150px;
    height: 30px;
    justify-content: space-around;
  }
  &__car-capacity-heading {
    font-size: 15px;
  }
  &__car-steering {
    font-size: 15px;
  }
  &__car-gasoline-box {
    display: flex;
    width: 160px;
    height: 30px;
    justify-content: space-around;
  }
  &__car-gasoline-heading {
    font-size: 15px;
    text-align: left;
  }
  &__car-gasoline {
    font-size: 15px;
  }
  &__prices-or-rent-btn-wrapper {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }
  &__car-prices-box {
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
  }
  &__car-new-price {
    display: flex;
    height: 25px;
    font-size: 18px;
  }
  &__car-old-price {
    display: flex;
    height: 25;
    font-size: 12px;
    text-decoration-line: line-through;
  }
  &__car-reviewer-box {
    display: flex;
    height: 25px;
    font-size: 12px;
    align-items: center;
  }
  &__car-customer-reviews-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
    background-color: rgba(182, 178, 178, 0.2);
    border: solid;
    border-color: rgba(182, 178, 178, 0.2);
    border-radius: 5px;
    border-width: 1px;
    color: white;
    padding: 1rem;
    align-items: center;
  }
  &__car-customer-reviews-and-number-box {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: left;
    margin: 0 0 0 40px;
  }
  &__car-customer-reviews-heading {
    display: flex;
    width: 100px;
    height: 40px;
    font-size: 25px;
    align-items: center;
  }
  &__car-customer-reviews-number {
    display: flex;
    height: 25px;
    width: 30px;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #f1f1f1;
    background-color: white;
    color: black;
  }
  &__car-review-customer-card-1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: white;
    padding: 1rem;
    align-items: center;
  }
  &__car-review-customer-details-box {
    display: flex;
    height: 50px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
  }
  &__car-review-customer-avatar-and-name {
    display: flex;
    flex-direction: row;
    width: 180px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }
  &__car-review-customer-name-and-profession-box {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 20px;
    justify-content: center;
  }
  &__car-review-customer-name {
    display: flex;
    font-size: 18px;
  }
  &__car-review-customer-profession {
    display: flex;
    font-size: 12px;
  }
  &__car-review-date-and-rating {
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: center;
  }
  &__car-review-date {
    display: flex;
    font-size: 12px;
    justify-content: right;
  }
  &__car-review-rating {
    display: flex;
    justify-content: right;
  }
  &__car-review-box {
    display: flex;
    height: 100%;
    width: 710px;
  }
  &__car-review {
    font-size: 12px;
  }
  &__car-review-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    font-size: 11px;
    color: #f7f7f7;
    background-color: rgba(182, 178, 178, 0.2);
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(182, 178, 178, 0.2);
    margin: 20px 0 0 0;
  }
  &__car-review-more-btn:hover {
    border-color: #f1f1f1;
    background-color: white;
    color: black;
    cursor: pointer;
  }
  &__recommended-cars-heading-container {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 85%;
    align-items: center;
    margin: 20px 0 10px 0;
    padding: 1rem;
    justify-content: space-between;
  }
  &__recommended-cars-heading {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  &__show-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    font-size: 11px;
    color: #f7f7f7;
    background-color: rgba(182, 178, 178, 0.2);
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(182, 178, 178, 0.2);
  }
  &__show-more-btn:hover {
    border-color: #f1f1f1;
    background-color: white;
    color: black;
    cursor: pointer;
  }
  &__recommend-cars-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 84%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__car-card1 {
    display: flex;
    flex-direction: column;
    background-color: rgba(182, 178, 178, 0.2);
    height: 250px;
    width: 200px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(182, 178, 178, 0.2);
    margin-bottom: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color: white;
  }

  &__car-navbar {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 50px;
    justify-content: space-between;
  }
  &__car-model-info-box {
    display: flex;
    flex-direction: column;
    height: 45px;
    width: 80px;
    justify-content: space-evenly;
  }
  &__car-model-box {
    display: flex;
    align-items: center;
    height: 20px;
  }
  &__car-type-box {
    display: flex;
    align-items: start;
    height: 20px;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: grey;
  }
  &__car-like-btn {
    display: flex;
    align-items: center;
    align-items: start;
  }
  &__car-card-image-box {
    display: flex;
    height: 100px;
    width: 150px;
  }
  &__car-card-image {
    width: 150px;
    height: 100px;
    object-fit: scale-down;
  }

  // Car specifications bar styling. //
  &__car-specifications-bar {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 180px;
    align-items: center;
    justify-content: space-between;
  }
  &__car-tank-capacity-box {
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 30px;
    align-items: center;
  }
  &__tank-fuel-icon {
    height: 15px;
    width: 12px;
  }
  &__tank-litres {
    height: 18px;
    width: 15px;
    font-size: 12px;
  }

  //Gear Icon styling //
  &__car-gear-shift-box {
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 60px;
    align-items: center;
  }
  &__car-gear-icon {
    height: 15px;
    width: 15px;
  }
  &__gear-type {
    height: 18px;
    width: 15px;
    font-size: 12px;
  }

  &__car-seats-box {
    display: flex;
    flex-direction: row;
    height: 25px;
    width: 60px;
    align-items: center;
  }
  &__car-seats-icon {
    height: 15px;
    width: 15px;
  }
  &__seats-numbers {
    height: 18px;
    width: 25px;
    font-size: 12px;
  }
  &__car-rent-and-btn-container {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
  }
  &__car-rent-per-day {
    display: flex;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  &__car-rent-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    font-size: 11px;
    color: #f7f7f7;
    background-color: rgba(182, 178, 178, 0.2);
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(182, 178, 178, 0.2);
  }
  &__car-rent-btn:hover {
    border-color: #f7f7f7;
    background-color: white;
    color: black;
    cursor: pointer;
  }
}
