&__payment-pick-up-radio-btn-box {
    display: flex;
    flex-direction: row;
    width: 80px;
    justify-content: space-around;
  }
  &__payment-pick-up-radio-btn {
    color: black;
  }
  &__payment-pick-up-radio-btn-heading {
    font-size: 12px;
  }